table, thead, th, tr, td{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
}

thead{
    border: 3px solid rgb(0, 0, 0);
    border-color: black;
}
body{
    background-color: rgb(202, 148, 0);
}